html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='Some description')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
	body

		div.container
			br 
			form(action='' method='POST')
				.form-group
					label(for='post_title') Title
					input#post_title.form-control(type='text' name='title' placeholder='Title' value=post.title required='')
					label(for='post_content') Post Content
					textarea#post_content.form-control(style='height:100px;' name='content' placeholder='Write something' required='') #{post.content }
					label(for='author_name') Author Name
					input#author_name.form-control(type='text' name='author_name' placeholder='Enter author name' value=post.author required='')
					br
					input.btn.btn-success(type='submit' value='UPDATE')

					a.btn.btn-info(href='/posts') Back


