html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='description' content='Some description')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
	body

		div.container
			br 
			form(action='' method='POST')
				.form-group
					label(for='new_name') Name
					input#new_name.form-control(type='text' name='name' value=infomation.id placeholder='Enter Name' required='')
					label(for='new_age') Age
					input#new_age.form-control(type='text' name='age' value=infomation.age placeholder='Enter Age' required='')
					label(for='new_email') Email
					input#new_email.form-control(type='text' name='email' value=infomation.email placeholder='EnterEmail' required='')
					label(for='new_password') Password
					input#new_password.form-control(type='text' name='password' value=infomation.password placeholder='Enter Password' required='')
					label(for='new_status') Status
					input#new_status.form-control(type='text' name='status' value=infomation.status placeholder='Selected Status' required='')
					br
					input.btn.btn-success(type='submit' value='UPDATE')

					a.btn.btn-info(href='/management/') Back


