html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='Some description')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
	body
		div.container
			h3 Todo 
			hr
			p
				a.btn.btn-primary(href='/post/add') Add New
			
			table.table.table-bordered
				tr
					th.text-center(width='5%') #
					th.text-left(width='35%') Title
					th.text-left(width='50%') Content
					th.text-left(width='5%') Edit
					th.text-left(width='5%') Delete
				for ps in posts
					tr
						td=ps.id
						td=ps.title
						td=ps.content
						td
							a.btn.btn-warning(href='/post/edit/' + ps.id) Edit
						td
							a.btn.btn-danger(href='/post/delete/' + ps.id) Delete

