html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='Some description')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  body
  div.container
    h2.text-center(style="color:green") LOGIN FORM
    form(method='POST' action='/login').form-group
      div.form-group
        label(for='email') Email
        input.form-control(type='text' id='email' placeholder='email' name='email')
      div.form-group
        label(for='password') Password
        input.form-control(type='password' id='password' placeholder='password' name='password')
      button.btn.btn-primary(type='submit') Log in

