html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='description' content='Some description')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
	body
		div.container
			h3 Member Management 
			hr
			p
				a.btn.btn-primary(href='/management/add') Add New Member
			form(action="/management" method="POST")
				input(type="text" placeholder="" name='search')
				input(type="submit", value="Search")
			table.table.table-bordered
				tr
					th.text-center(width='5%') #
					th.text-left(width='35%') Name
					th.text-left(width='5%') Age
					th.text-left(width='35%') Email
					th.text-left(width='5%') Status
				for info in infomations
					tr
						td=info.id
						td=info.name
						td=info.age
						td=info.email
						td=info.status
						td
							a.btn.btn-warning(href='/management/edit/' + info.id) Edit
						td
							a.btn.btn-danger(href='/management/delete/' + info.id) Delete

