html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='Some description')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  body
  div.container
    h2.text-center LOGIN FORM
    form(method='GET' action='/').form-group
      h1.text-center(style="color:red") ไม่พบชื่อผู้ใช้งานนี้ในระบบ
      button.btn.btn-primary(type='submit') Back

